<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="trust_and_safety" translate="label" type="text" sortOrder="610" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Trust and Safety</label>
            <tab>sales</tab>
            <resource>Magento_Sales::trust_and_safety</resource>
            <group id="transom_ip_quality_score" type="text" sortOrder="05" showInDefault="1" showInWebsite="1" showInStore="0">

                <label>Transom - IP Quality Score</label>

                <group id="api_config" translate="label comment" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Configuration</label>
                    <comment><![CDATA[IP Quality Score (<a href="https://www.ipqualityscore.com/" target="_blank">https://www.ipqualityscore.com/</a>) provides real-time fraud scoring for users and transactions.  This integration is designed to work with IP Quality Score's free plan.  A fraud score is assigned to each order when the order is submitted.]]></comment>
                    <field id="api_enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <config_path>trust_and_safety/transom_ip_quality_score/api_enabled</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                        <comment><![CDATA[Enable or disable the Transom IP Quality Score inetgration.]]></comment>
                    </field>

                    <field id="end_point" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Endpoint</label>
                        <config_path>trust_and_safety/transom_ip_quality_score/api_end_point</config_path>
                        <validate>required-entry</validate>
                        <comment><![CDATA[IP Quality Score end point.]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="key" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Key</label>
                        <config_path>trust_and_safety/transom_ip_quality_score/api_key</config_path>
                        <comment><![CDATA[IP Quality Scores access key]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="plan_type" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Plan Type</label>
                        <source_model>Transom\IPQualityScore\Model\Config\Settings\Plan\Type</source_model>
                        <config_path>trust_and_safety/transom_ip_quality_score/plan_type</config_path>
                        <comment><![CDATA[IP Quality Scores plan type]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="fast" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Fast</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>trust_and_safety/transom_ip_quality_score/fast</config_path>
                        <comment><![CDATA[Speeds up the API response time. This option is intended for services that require decision making in a time sensitive manner and can be used for any strictness level.]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="strictness" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Strictness</label>
                        <source_model>Transom\IPQualityScore\Model\Config\Settings\Strictness</source_model>
                        <config_path>trust_and_safety/transom_ip_quality_score/strictness</config_path>
                        <comment><![CDATA[Set the strictness for this query. (0 (least strict) - 3 (most strict))]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="allowPublicAccessPoints" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Allow Public Access Points</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>trust_and_safety/transom_ip_quality_score/allow_public_access_points</config_path>
                        <comment><![CDATA[Allow public access points like coffee shops, schools, corporations, etc...]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="lighterPenalties" translate="label comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Lighter Penalties</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>trust_and_safety/transom_ip_quality_score/lighter_penalties</config_path>
                        <comment><![CDATA[Reduce scoring penalties for mixed quality IP addresses shared by good and bad users.]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>
                </group>
                <group id="order_status_config" translate="label comment" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Order Status</label>
                    <comment><![CDATA[IPQS returns two fraud scores: IP fraud score and transaction risk score.  Order status updates are based on the transaction risk score.  In this section you can set thresholds for transaction risk score, and enable or disable urder status updates. ]]></comment>

                    <field id="updateOrderStatus" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Update Order Status</label>
                        <config_path>trust_and_safety/transom_ip_quality_score/update_order_status</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                        <comment><![CDATA[Automatically update order status based on IPQS score.  When Update Order Status is disabled we will still add a note to the order with the IPQS scores.]]></comment>
                        <depends>
                            <field id="trust_and_safety/transom_ip_quality_score/api_config/api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="cancelThreshold" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Cancel Thrshold</label>
                        <config_path>trust_and_safety/transom_ip_quality_score/cancel_threshold</config_path>
                        <validate>validate-number-range number-range-0-100</validate>
                        <comment><![CDATA[Transaction risk score threshold for orders that are fraudulent and will be canceled.  The threshold is a number between 0 and 100.]]></comment>
                        <depends>
                            <field id="trust_and_safety/transom_ip_quality_score/api_config/api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="reviewThreshold" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Review Threshold</label>
                        <config_path>trust_and_safety/transom_ip_quality_score/review_threshold</config_path>
                        <validate>validate-number-range number-range-0-100</validate>
                        <comment><![CDATA[Transaction risk score threshold for orders that are may be fraudulent and will be reviewed.  The threshold is a number between 0 and 100.]]></comment>
                        <depends>
                            <field id="trust_and_safety/transom_ip_quality_score/api_config/api_enabled">1</field>
                        </depends>
                    </field>

                </group>
            </group>
        </section>
    </system>
</config>
