<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <trust_and_safety>
            <transom_ip_quality_score>
                <api_enabled>1</api_enabled>
                <api_end_point>https://www.ipqualityscore.com/api/</api_end_point>
                <api_key/>
                <plan_type>0</plan_type>
                <fast>1</fast>
                <strictness>0</strictness>
                <allow_public_access_points>1</allow_public_access_points>
                <lighter_penalties>1</lighter_penalties>
                <update_order_status>0</update_order_status>
                <cancel_threshold>85</cancel_threshold>
                <review_threshold>75</review_threshold>
            </transom_ip_quality_score>
        </trust_and_safety>
    </default>
</config>
